BODY
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Tahoma,sans-serif;
    BACKGROUND-COLOR: #ffffff
}
SELECT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma,sans-serif
}
OPTION
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma,sans-serif
}
INPUT
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma,sans-serif
}
TEXTAREA
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma,sans-serif
}
DIV
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px
}
LI
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px
}
A:link
{
    COLOR: #000080;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #ff1493;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: mediumblue;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #ff4500;
    TEXT-DECORATION: none
}
DIV
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma,sans-serif
}
P
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma,sans-serif
}
TD
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma,sans-serif
}
TH
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma,sans-serif
}
CAPTION
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma,sans-serif
}
BLOCKQUOTE
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma,sans-serif
}
UL
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma,sans-serif
}
OL
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma,sans-serif
}
FORM
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma,sans-serif
}
DIV P
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: -2px 0px 5px 6px;
    PADDING-TOP: 0px
}
.dN
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
.gt
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial,sans-serif;
    BACKGROUND-COLOR: #e6e6e6
}
t
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana,sans-serif
}
.t
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana,sans-serif
}
.t A
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana,sans-serif
}
.t A:link
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana,sans-serif
}
.t A:hover
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana,sans-serif
}
.t A:visited
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana,sans-serif
}
.t P
{
    FONT-SIZE: 10pt;
    TEXT-INDENT: 3em;
    TEXT-ALIGN: justify
}
#t
{
    TEXT-INDENT: 2em;
    TEXT-ALIGN: justify
}
#t P
{
    TEXT-INDENT: 2em;
    TEXT-ALIGN: justify
}
#t DIV
{
    TEXT-INDENT: 2em;
    TEXT-ALIGN: justify
}
#t CENTER
{
    TEXT-INDENT: 0pt;
    TEXT-ALIGN: center
}
.l A:link
{
    FONT-SIZE: 8pt;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma,sans-serif
}
A.l:link
{
    FONT-SIZE: 8pt;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma,sans-serif
}
.l A:visited
{
    FONT-SIZE: 8pt;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma,sans-serif
}
A.l:visited
{
    FONT-SIZE: 8pt;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma,sans-serif
}
.l A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #f8983e;
    FONT-FAMILY: Tahoma,sans-serif
}
A.l:hover
{
    FONT-SIZE: 8pt;
    COLOR: #f8983e;
    FONT-FAMILY: Tahoma,sans-serif
}
tb
{
    FONT: bold 12px Arial;
    COLOR: #085196;
    TEXT-DECORATION: none
}
.tb
{
    FONT: bold 12px Arial;
    COLOR: #085196;
    TEXT-DECORATION: none
}
.tb A
{
    FONT: bold 12px Arial;
    COLOR: #085196;
    TEXT-DECORATION: none
}
.tb A:link
{
    FONT: bold 12px Arial;
    COLOR: #085196;
    TEXT-DECORATION: none
}
.tb A:hover
{
    FONT: bold 12px Arial;
    COLOR: #085196;
    TEXT-DECORATION: none
}
.tb A:visited
{
    FONT: bold 12px Arial;
    COLOR: #085196;
    TEXT-DECORATION: none
}
.tb2
{
    FONT: bold 12px Arial;
    COLOR: #fe7b01;
    TEXT-DECORATION: none
}
.hide
{
    LEFT: 0px;
    WIDTH: 1px;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 1px
}
.tip
{
    Z-INDEX: 10;
    LEFT: 0px;
    VISIBILITY: hidden;
    WIDTH: 1%;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 1%
}
TD.nmenu
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
TD.nmenu A:link
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
TD.nmenu A:visited
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
TD.nmenu A:hover
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
TD.ntop
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
TD.ntop A:link
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
TD.ntop A:visited
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
TD.ntop A:hover
{
    TEXT-DECORATION: underline
}
.k
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffcc66;
    FONT-FAMILY: Arial,sans-serif;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
H1
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16px;
    COLOR: #b22222;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h1
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16px;
    COLOR: cyan;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h1 A
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16px;
    COLOR: cyan;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h1 A:link
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16px;
    COLOR: cyan;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h1 A:hover
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16px;
    COLOR: cyan;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h1 A:visited
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16px;
    COLOR: cyan;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
H2
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h2
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h2 A
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h2 A:link
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h2 A:hover
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h2 A:visited
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #7b68ee;
    FONT-FAMILY: Courier, Verdana, Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.h3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Courier, Verdana, Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.h3 A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Courier, Verdana, Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.h3 A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Courier, Verdana, Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.h3 A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Courier, Verdana, Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.h3 A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Courier, Verdana, Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
H4
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h4
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h4 A
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h4 A:link
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h4 A:hover
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h4 A:visited
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
H5
{
    MARGIN: 10px 10px 10px 0px;
    FONT: bold 12px Tahoma;
    TEXT-DECORATION: none
}
.h5
{
    MARGIN: 10px 10px 10px 0px;
    FONT: bold 12px Tahoma;
    TEXT-DECORATION: none
}
.h5 A
{
    MARGIN: 10px 10px 10px 0px;
    FONT: bold 12px Tahoma;
    TEXT-DECORATION: none
}
.h5 A:link
{
    MARGIN: 10px 10px 10px 0px;
    FONT: bold 12px Tahoma;
    TEXT-DECORATION: none
}
.h5 A:hover
{
    MARGIN: 10px 10px 10px 0px;
    FONT: bold 12px Tahoma;
    TEXT-DECORATION: none
}
.h5 A:visited
{
    MARGIN: 10px 10px 10px 0px;
    FONT: bold 12px Tahoma;
    TEXT-DECORATION: none
}
H6
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial,sans-serif;
    TEXT-DECORATION: none
}
.h6
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial,sans-serif;
    TEXT-DECORATION: none
}
.h6 A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial,sans-serif;
    TEXT-DECORATION: none
}
.h6 A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial,sans-serif;
    TEXT-DECORATION: none
}
.h6 A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial,sans-serif;
    TEXT-DECORATION: none
}
.h6 A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial,sans-serif;
    TEXT-DECORATION: none
}
h7
{
    TEXT-DECORATION: none
}
.h7
{
    TEXT-DECORATION: none
}
.h7 A
{
    TEXT-DECORATION: none
}
.h7 A:link
{
    TEXT-DECORATION: none
}
.h7 A:hover
{
    TEXT-DECORATION: none
}
.h7 A:visited
{
    TEXT-DECORATION: none
}
bsml
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.bsml
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.bsml A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.bsml A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.bsml A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.bsml A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
sml
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.sml
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.sml A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.sml A:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.sml A:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.sml A:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial,sans-serif;
    LETTER-SPACING: 1pt;
    TEXT-DECORATION: none
}
.b
{
    BACKGROUND-COLOR: #e6e6e6
}
.g0
{
    BACKGROUND-COLOR: #f7f7f7
}
.g1
{
    BACKGROUND-COLOR: #e1e1e1
}
.g2
{
    BACKGROUND-COLOR: #d6d6d6
}
.g3
{
    BACKGROUND-COLOR: #808080
}
.o
{
    BACKGROUND-COLOR: #ffe7bd
}
.w
{
    BACKGROUND-COLOR: #ffffff
}
.o1
{
    BACKGROUND-COLOR: #ff7b00
}
.bw
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #085196
}
.bw A
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #085196
}
.bo
{
    COLOR: #ffe7bd;
    BACKGROUND-COLOR: #085196
}
.bo A
{
    COLOR: #ffe7bd;
    BACKGROUND-COLOR: #085196
}
.g2b
{
    COLOR: #085196;
    BACKGROUND-COLOR: #d6d6d6;
    TEXT-DECORATION: none
}
.g2b A:link
{
    COLOR: #085196;
    BACKGROUND-COLOR: #d6d6d6;
    TEXT-DECORATION: none
}
.g2b A:hover
{
    COLOR: #085196;
    BACKGROUND-COLOR: #d6d6d6;
    TEXT-DECORATION: none
}
.g2b A:visited
{
    COLOR: #085196;
    BACKGROUND-COLOR: #d6d6d6;
    TEXT-DECORATION: none
}
A.g2b:link
{
    COLOR: #085196;
    BACKGROUND-COLOR: #d6d6d6;
    TEXT-DECORATION: none
}
A.g2b:hover
{
    COLOR: #085196;
    BACKGROUND-COLOR: #d6d6d6;
    TEXT-DECORATION: none
}
A.g2b:visited
{
    COLOR: #085196;
    BACKGROUND-COLOR: #d6d6d6;
    TEXT-DECORATION: none
}
.g3w
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #808080;
    TEXT-DECORATION: none
}
.g3w A:link
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #808080;
    TEXT-DECORATION: none
}
A.g3w:link
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #808080;
    TEXT-DECORATION: none
}
.wb
{
    COLOR: #085196;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.wb A:link
{
    COLOR: #085196;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.wb:link
{
    COLOR: #085196;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.wo
{
    COLOR: #ff7b00;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.wo A:link
{
    COLOR: #ff7b00;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.wo:link
{
    COLOR: #ff7b00;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.wo:link
{
    COLOR: #ff7b00;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.wo:hover
{
    COLOR: #ff7b00;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.wo:visited
{
    COLOR: #ff7b00;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.wg2
{
    COLOR: #d6d6d6;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.wg2 A:link
{
    COLOR: #d6d6d6;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.wg2:link
{
    COLOR: #d6d6d6;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.wg3
{
    COLOR: #808080;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.wg3 A:link
{
    COLOR: #808080;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.wg3:link
{
    COLOR: #808080;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.ob
{
    COLOR: #085196;
    BACKGROUND-COLOR: #ffe7bd
}
.ob A
{
    COLOR: #085196;
    BACKGROUND-COLOR: #ffe7bd
}
.ow
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #ff7b00;
    TEXT-DECORATION: none
}
.ow A:link
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #ff7b00;
    TEXT-DECORATION: none
}
A.ow:link
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #ff7b00;
    TEXT-DECORATION: none
}
.ow A:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #ff7b00;
    TEXT-DECORATION: none
}
.ow A:visited
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #ff7b00;
    TEXT-DECORATION: none
}
.obl
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
.obl A:link
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
A.obl:link
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
.obl A:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
.obl A:visited
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: none
}
.no
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.no A:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.no:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.sel
{
    COLOR: white;
    BACKGROUND-COLOR: black
}
.bord_r
{
    BORDER-RIGHT: #cecfc1 1px solid
}
.bord_l
{
    BORDER-LEFT: #cecfc1 1px solid
}
.bord_lbr
{
    BORDER-RIGHT: #cecfc1 1px solid;
    BORDER-LEFT: #cecfc1 1px solid;
    BORDER-BOTTOM: #cecfc1 1px solid
}
.bord_rl
{
    BORDER-RIGHT: #cecfc1 1px solid;
    BORDER-LEFT: #cecfc1 1px solid
}
.bord_tbl
{
    BORDER-RIGHT: #cecfc1 1px solid;
    BORDER-TOP: #cecfc1 1px solid;
    BORDER-LEFT: #cecfc1 1px solid;
    BORDER-BOTTOM: #cecfc1 1px solid
}
.bord_trb
{
    BORDER-RIGHT: #cecfc1 1px solid;
    BORDER-TOP: #cecfc1 1px solid;
    BORDER-BOTTOM: #cecfc1 1px solid
}
h
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h A
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h A:link
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h A:hover
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.h A:visited
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    COLOR: #fe7b01;
    MARGIN-RIGHT: 5px;
    FONT-FAMILY: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.blue A:link
{
    FONT-SIZE: 8pt;
    COLOR: cyan;
    FONT-FAMILY: Tahoma,sans-serif
}
A.blue:link
{
    FONT-SIZE: 8pt;
    COLOR: cyan;
    FONT-FAMILY: Tahoma,sans-serif
}
.blue A:visited
{
    FONT-SIZE: 8pt;
    COLOR: cyan;
    FONT-FAMILY: Tahoma,sans-serif
}
A.blue:visited
{
    FONT-SIZE: 8pt;
    COLOR: cyan;
    FONT-FAMILY: Tahoma,sans-serif
}
.blue A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #f8983e;
    FONT-FAMILY: Tahoma,sans-serif
}
A.blue:hover
{
    FONT-SIZE: 8pt;
    COLOR: #f8983e;
    FONT-FAMILY: Tahoma,sans-serif
}
.no A:link
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
A.no:link
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
.no A:visited
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
A.no:visited
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: none
}
.no A:hover
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: underline
}
A.no:hover
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Tahoma,sans-serif;
    TEXT-DECORATION: underline
}
.orange A:link
{
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma,sans-serif
}
A.orange:link
{
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma,sans-serif
}
.orange A:visited
{
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma,sans-serif
}
A.orange:visited
{
    COLOR: #fe7b01;
    FONT-FAMILY: Tahoma,sans-serif
}
.orange A:hover
{
    COLOR: #085196;
    FONT-FAMILY: Tahoma,sans-serif
}
A.orange:hover
{
    COLOR: #085196;
    FONT-FAMILY: Tahoma,sans-serif
}
